
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    background-color:  #11182715;
    color: #374151;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: .2rem;
    padding-right: .2rem;
}


.text-dark {
    color: #111827;
}

.text-muted {
    color: #4b5563;
}