@import "tailwindcss";

@layer components {

    .table {
        @apply w-full border-collapse text-sm;
    }

    .table thead tr {
        @apply border-b bg-slate-100 text-left
    }
    .table thead th {
        @apply px-3 py-2 font-semibold;
    }
    .table th, .table td {
        @apply px-3 py-2 font-medium;
    }
    .table tbody tr {
        @apply border-b hover:bg-slate-50 transition;
    }
    .table tbody tr td {
        @apply px-3 py-2;
    }
}