.navbar {
    background-color: #111827;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &:nth-child(n+2) {
        background-color: #111827c5;
    }

    a {
        color: white;
        transition: color 0.2s;

        &:hover {
            color: #d1d5db;
        }
    }

    a.nav-link.active {
        font-weight: bold;
        text-decoration: underline;
    }

    .navbar-nav {
        display: flex;
        gap: 1rem;
    }
}