.navbar {
    background-color: #111827;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &:nth-child(n+2) {
        background-color: #111827c5;
    }

    a {
        color: white;
        transition: color 0.2s;

        &:hover {
            color: #d1d5db;
        }
    }

    a.nav-link.active {
        font-weight: bold;
        text-decoration: underline;
    }

    .navbar-nav {
        display: flex;
        gap: 1rem;
        position: relative;
    }

    .nav-item {
        position: relative;
    }
    .navbar-nav-sub {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #1f2937;
        padding: 0.5rem;
        border-radius: 0.25rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 1000;
    }
    .collapsed {
        display: none;
    }
}