@mixin btn-base {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 500;
    transition: opacity 0.2s;
    cursor: pointer;
    display: inline-block;

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        background-color: #9ca3af;
        cursor: not-allowed;
        opacity: 0.7;
    }
    &:disabled:hover {
        opacity: 0.7;
    }
}   


.btn {
    @include btn-base;

    &--primary {
        @include btn-base;
        background-color: #2563eb;
        color: white;

        &:hover {
            background-color: #1d4ed8;
        }
    }

    &--secondary {
        @include btn-base;
        background-color: #e5e7eb;
        color: #111827;

        &:hover {
            background-color: #d1d5db;
        }
    }

    &--danger {
        @include btn-base;
        background-color: #ef4444;
        color: white;

        &:hover {
            background-color: #dc2626;
        }
    }

    &--s-large {
        padding: 0.35rem 1.5rem;
        font-size: 1.125rem;
    }
    &--s-small {
        padding: 0.15rem 0.5rem;
        font-size: 0.875rem;
    }
    &--m-medium {
        padding: 0.2rem 1rem;
        font-size: 1rem;
    }
}

.btn-group {
    display: inline-flex;
    margin: .2rem 0;

    .btn {
        margin-right: 0.5rem;

        &:last-child {
            margin-right: 0;
        }
    }
}