{% extends 'crm.html.twig' %}

{% block title %}CRM home
{% endblock %}

{% block body %}
	<script>
		window.AppConfig = {
			intranetUrl: "{{ path('index') }}"
		};
	</script>
	<div id="root"></div>
{% endblock %}
